<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>Bookers</span>
    </nav>
    <nav>
       <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to 'Home', user_path(current_user.id), class: "glyphicon glyphicon-home home" %></li>
          <li><%= link_to 'Users' , users_path, class: "glyphicon glyphicon-user users" %></li>
          <li><%= link_to 'Books' , books_path, class: "glyphicon glyphicon-user books" %></li>
          <li><a class="glyphicon glyphicon-log-out logout" rel="nofollow" data-method="delete" href="/users/sign_out"> logout</a></li>
      </ul>
        
      <% end %>
    </nav>
  </div>
</header>


<p id="notice"></p>
    <%= yield %>
  </body>
</html>
